<h1 id="text-aligned-center">Bits & Giggles</h1>

<h4 id="text-aligned-center">Newest Comedians</h4>

<div class="row">
{{#each recent}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img id="profile-photo" src="{{ photo }}">
        </div>
        <div class="card-content" id="text-aligned-center">
          <span class="card-title">{{ name }}</span>
        </div>
        <div class="card-action" id="text-aligned-center">
          <a href="/users/{{username}}">Meet them here!</a>
        </div>
      </div>
    </div>
{{/each}}
</div>


<p><a href="/auth/login">Login</a> to update your profile</p>
<p><a href="/auth/register">Register an account</a></p>

<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=America%2FChicago&amp;src=YXNjb3R0MTA4M0BnbWFpbC5jb20&amp;src=YjltOGZnMnAxODQ1dGlkbDRxdWU2cG1pMWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=MjI0a2ptNXZiMmZrMHN0N3BwZ3AxYWo0YjhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2322AA99&amp;color=%23515151&amp;color=%23329262&amp;color=%23743500&amp;color=%231F753C" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>