<h1 id="text-aligned-center">Bits & Giggles</h1>

<h4 id="text-aligned-center">Newest Comedians</h4>

<div class="row">
{{#each recent}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img id="profile-photo" src="{{ photo }}">
        </div>
        <div class="card-content" id="text-aligned-center">
          <span class="card-title">{{ name }}</span>
        </div>
        <div class="card-action" id="text-aligned-center">
          <a href="/users/{{username}}">Meet them here!</a>
        </div>
      </div>
    </div>
{{/each}}
</div>