<h1>Bits & Giggles</h1>

<h2>Recent User Profiles:</h2>

<div class="row">
{{#each recent}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img id="profile-photo" src="{{ photo }}">
        </div>
        <div class="card-content">
          <span class="card-title">{{ name }}</span>
        </div>
        <div class="card-action">
          <a href="/users/{{username}}">Meet them here!</a>
        </div>
      </div>
    </div>
{{/each}}
</div>


<p><a href="/auth/login">Login</a> to update your profile</p>
<p><a href="/auth/register">Register an account</a></p>