<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
     
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Prompt|Rokkitt&display=swap" rel="stylesheet">
    <!-- CSS  -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Prompt|Rokkitt&display=swap" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/materialize.css" type="text/css" />
    
  </head>
  <nav class="white-background" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><image src="/images/small_logo.png"></a>
    {{#loggedIn}}
    <ul class="right hide-on-med-and-down">
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a href="/users">Edit Profile</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a href="/users/{{username}}">My Profile</a></li>
    </ul>
    {{/loggedIn}}
    {{#loggedOut}}
    <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="/auth/login">Login</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="/auth/register">Register</a></li>
    </ul>
    {{/loggedOut}}

    <ul id="nav-mobile" class="sidenav">
    {{#loggedIn}}
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/users">Edit Profile</a></li>
        <li><a href="/users/{{username}}">My Profile</a></li>
    {{/loggedIn}}   
    {{#loggedOut}}
        <li><a class="black-text" href="/auth/login">Login</a></li>
        <li><a class="black-text" href="/auth/register">Register</a></li>
    {{/loggedOut}}
    </ul>

    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="small material-icons">menu</i></a>
    </div>
  </nav>

  <body>
    <div>
      {{{body}}}
    </div>
  </body>

<div id="footer" class="footer"></div>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://materializecss.com/templates/parallax-template/js/init.js"></script>
  
<div id="footer"></div>
 

  <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
      <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <script type='text/babel'>
      function ReactFooter (){
        return (
        <footer className="page-footer dark">
    <div className="container">
      <div className="row">
        <div className="col l6 s12">
          <h5 className="white-text">What it is</h5>
          <p className="grey-text text-lighten-4">Use this site as a platform to register for open mic gigs using our calendar for locations in the Austin area, explore comedian profiles, and network in the comedy scene.</p>


        </div>
        <div className="col l3 s12">
          <h5 className="white-text">Connect With Us</h5>
          <ul>
            <li><a className="white-text" href="https://github.com/ascott1083">AJ Scott</a></li>
            <li><a className="white-text" href="https://github.com/danshandle">Dan McCarthy</a></li>
            <li><a className="white-text" href="https://github.com/sarahbmcl">Sarah 'Mac' McLaughlin</a></li>
            <li><a className="white-text" href="https://github.com/stanstanley512">Shane Stanley</a></li>
          </ul>
        </div>
        <div className="col l3 s12">
            <img src="/images/inverted.png"></img>
        </div>
      </div>
    </div>
    <div className="footer-copyright">
      <div className="container">
          
      </div>
    </div>
    
  </footer>)

      }
      
        ReactDOM.render(
        <ReactFooter />,
        document.getElementById('footer')
        );
        
         </script>

         <div class="commentbox"></div>

</html>
