<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bits and Giggles</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../models/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../models/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="white-background" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo"><image src="../public/images/small_logo.png"></a>
      <ul class="right hide-on-med-and-down">
          <li><a class="black-text" href="#">Logout</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
          <li><a class="black-text" href="login.html">Login</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
          <li><a class="black-text" href="comedian_profile.html">Profile</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
          <li><a href="comedian_profile.html">Profile</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="#">Logout</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  
  <div class="section no-pad-bot light-blue-background" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">BITS & GIGGLES</h1>
      <div class="row center">
        <h5 class="header col s12 light">LOGIN PAGE</h5>
      </div>
      <br><br>
    </div>
  </div>


  <footer class="page-footer dark">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About This Site</h5>
          <p class="grey-text text-lighten-4">Use this site as a platform to register for open mic gigs using our calendar for locations in the Austin area , explore comedian profiles, and network in the comedy scene.</p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
        <div class="col l3 s12">
          <h5 class="white-text">Connect With Us</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/ascott1083">AJ Scott</a></li>
            <li><a class="white-text" href="https://github.com/danshandle">Dan McCarthy</a></li>
            <li><a class="white-text" href="https://github.com/sarahbmcl">Sarah 'Mac' McLaughlin</a></li>
            <li><a class="white-text" href="https://github.com/stanstanley512">Shane Stanley</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
          <!-- empty div -->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../models/materialize/js/materialize.js"></script>
  <script src="../models/materialize/js/init.js"></script>

  </body>
</html>
