{{> messages }}
{{#if username}}
<h2>Meet {{ name }}!</h2>
<container>
      <div class="profile-card">
        <div class="card-image">
          <img id="profile-photo" src="{{ photo }}">
        </div>
        <div class="card-content" id="profile-experience text-aligned-center">
            <p><strong>Experience Level:</strong></p>
            <p>{{ experience }}</p>
        </div>
        <p><strong>About Me:</strong></p>
        <p>{{ bio }}</p>
        </div>
      </div>
    </div>
</container>
{{/if}}

    <div class="col s12 m7">

<iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=Yml0c2FuZGdpZ2dsZXMyMDIwQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2322AA99&amp;color=%23329262&amp;color=%231F753C" style="border:solid 1px #777" width="1245" height="600" frameborder="0" scrolling="no"></iframe>