{{> messages }}
{{#if username}}
<container>
  <div class="row profile-card" >
    <div class="col-12">
    <h2 id="profile-name">Meet {{ name }}!</h2>
    </div>
      <div class="card-image col-md pad-image-top">
        <img id="profile-photo-2" src="{{ photo }}">
      </div>
      <div class="card-content col-md" id="profile-experience">
        <h4><strong>Experience Level:</strong></h4>
        <p>{{ experience }}</p>
        <h4><strong>About Me:</strong></h4>
        <p>{{ bio }}</p>
      </div>
    <div class="row">
    <div class="col" id="twitter">
      <h2 class="center brown-text"><img src="/images/twitter.png"><a href="https://www.linkedin.com/in/sarahbmcl/"></a></img></h2>
    </div>
    <div class="col" id="facebook">
      <h2 class="center brown-text"><img src="/images/instagram.png"><a href="https://www.linkedin.com/in/sarahbmcl/"></a></img></h2>
    </div>
    <div class="col" id="insta">
      <h2 class="center brown-text"><img src="/images/facebook-box.png"><a href="https://www.linkedin.com/in/sarahbmcl/"></a></img></h2>
    </div>
  </div>
  </div>

</container>
{{/if}}

{{!-- <iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=Yml0c2FuZGdpZ2dsZXMyMDIwQGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2322AA99&amp;color=%23329262&amp;color=%231F753C" style="border:solid 1px #777" width="1245" height="600" frameborder="0" scrolling="no"></iframe> --}}
