{{> messages }}
{{#if username}}
<h2>Meet {{ name }}!</h2>
<container>
      <div class="profile-card">
        <div class="card-image">
          <img id="profile-photo" src="{{ photo }}">
        </div>
        <div class="card-content" id="profile-experience text-aligned-center">
            <p><strong>Experience Level:</strong></p>
            <p>{{ experience }}</p>
        </div>
        <p><strong>About Me:</strong></p>
        <p>{{ bio }}</p>
        </div>
      </div>
    </div>
</container>
{{/if}}

    <div class="col s12 m7">
