{{> messages }}
{{#if username}}
<container>
  <div class="row profile-card" >
    <div class="col-12">
    <h2 id="profile-name">Meet {{ name }}!</h2>
    </div>
      <div class="card-image col-md pad-image-top">
        <img id="profile-photo-2" src="{{ photo }}">
      </div>
      <div class="card-content col-md" id="profile-experience">
        <h4><strong>Experience Level:</strong></h4>
        <p>{{ experience }}</p>
        <h4><strong>About Me:</strong></h4>
        <p>{{ bio }}</p>
      </div>
  </div>
</container>
{{/if}}