/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#comedian-profile {
  padding: 20px;
}

#welcome-name {
  padding: 5px;
}  */

#profile-photo {
  max-width: 300px;
  height: 300px;
  /* border-radius: 50%; */
}

#profile-photo-2 {
  max-width: 300px;
  height: 300px;
  padding: 20px;
}

a {
  color: #000000;
}
a:visited {
  color: rgb(0, 0, 0);
}

.card {
  margin: auto;
  padding: 15px;
  width: 340px;
  height: 460px;

}



#text-aligned-center {
  text-align: center;
}

.profile-card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  padding: 15px;
}

#profile-experience {
  padding-top: 10px;
}

#profile-name {
  background-color: inherit;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 10px;
}