/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#comedian-profile {
  padding: 20px;
}

#welcome-name {
  padding: 5px;
}  */

#profile-photo {
  max-width: 300px;
  height: 300px;
  /* border-radius: 50%; */
}

#profile-photo-2 {
  max-width: 300px;
  height: 300px;
  padding: 20px;
}

#profile-photo-3 {
  max-width: 450px;
  height: 450px;
  padding: 20px;
}

a {
  color: #000000;
}
a:visited {
  color: rgb(0, 0, 0);
}

.card {
  margin: auto;
  padding: 15px;
  width: 340px;
  height: 460px;

}

#text-aligned-center {
  text-align: center;
}

.profile-card {
  position: relative;
  margin: auto;
  background-color: #fff;
  padding: 15px;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

#profile-experience {
  padding-top: 10px;
}

#profile-name {
  background-color: inherit;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 10px;
}

.bits-main {
  color: white;
  font-size: 100px;
  font-family: 'Luckiest Guy', cursive;
  border-color: black;
}

.bits-comedians {
  color: white;
  font-size: 60px;
  padding:20px;
  margin: auto;
  font-family: 'Prompt', sans-serif;
}

#laughing-picture {
  width: 100%;
  margin: 0;
  padding: 0;
}

#new-comedian-area{
  padding: 15px;
}

#new-comedian {
  padding: 15px;
  margin-bottom: 10px;
}

#calendar {
  min-width: 100%;
  margin: auto;
}

.responsiveCal {
  position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
}
   
.responsiveCal iframe {
  position: absolute; top:0; left: 0; width: 100%; height: 100%;
}  

#calendar-paddding {
  margin: 20px;
}

.headers {
  color: white;
  font-size: 60px;
  padding:20px;
  margin: auto;
}

.alt-white-text {
  color: white;
  padding:20px;
  margin: auto;
  font-size: larger;
}

.padded-auth {
  padding: 30px;
}

#holds-profile {
  margin: auto;
}

#holds {
  margin-top:25px;
  margin-bottom: 25px;
}

#social-media {
  margin: auto;
}

.sm-icon {
  margin: auto;
  align-content: center;
}